.resize {
    width: 250px;
    height: 250px;
    margin: auto;
    border: 3px solid red;
    padding: 10px;
}

h1 {
    font-family: 'Nosifer', cursive;
    color: red;
     text-align: center;
}

body {
    background-image: url(abandoned-place.jpeg);
    font-family: "Open Sans", sans-serif;
}

p {
    color: white;
}

.img {
    position: relative;
    margin-left: 750px;
}

.info {
    Position: relative;
    margin-left: 780px;
    border: 3px solid green;
   
}

div {
    clear: both;
    text-align: center;
    margin: auto;
}

#doll {
    float: left;
}

#creepdoll {
    height: 280px;
    float: right;
    position: relative;
    transform: translate(0%, -100%);
}